@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*css for homepage and the details that stay the same on the rest of the pages*/

h1 {
  text-align: center;
}

header {
  background-color: #dddddd;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

header {
  min-height: 137px;
}
.logo-mobile {
  width: 250px;
}
body {
  font-family: "Open Sans", Verdana, sans-serif;
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
footer {
  background-color: #728ea6;
  display: flex;
  padding: 30px;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}
.nav {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.nav-toggle-container {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  grid-gap: 20px;
}
.nav-toggle-container li {
  display: inline;
}
.nav-toggle-container a {
  display: inline-block;
  background-color: #d9593d;
  padding: 10px 20px;
  border-radius: 8px;
  color: black;
  text-decoration: none;
  width: 130px;
}

.nav-toggle-container a:hover {
  text-decoration: underline;
}

.homepage-main {
  text-decoration: underline;
  font-weight: bold;
}
.homepage {
  text-decoration: none;
}
.mens-page {
  text-decoration: none;
}
.mens-pagemain {
  text-decoration: underline;
  font-weight: bold;
}
.womens-pagemain {
  text-decoration: underline;
  font-weight: bold;
}
.womens-page {
  text-decoration: none;
}
.contact-page {
  text-decoration: none;
}
.contact-main {
  text-decoration: underline;
  font-weight: bold;
}
.About-main {
  text-decoration: underline;
  font-weight: bold;
}
.About-page {
  text-decoration: none;
}
.contactusnav {
  background-color: #030100;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
}
.contactusnav a:hover {
  text-decoration: underline;
}

.footer-icons {
  width: 30px;
  height: 30px;
  margin-left: 5px;
}

.ml {
  margin-left: 20px;
}

.footer-nav {
  display: flex;
  margin-left: auto;
}

.frontpage_articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1000px;
  margin: 30px auto;
  grid-gap: 40px;
  flex-direction: column;
}

.api-h3 {
  text-align: center;
}

.featered-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
}

.featered-content img {
  width: 100%;
  border-radius: 10px 10px 10px 10px;
}

.api-content {
  display: grid;
  grid-template-columns: repeat(5, auto);
  padding: 10px;
}
.api-content a {
  text-align: center;
}
