/*media quary*/
@media (max-width: 1500px) {
  .mens-section-grid {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 971px) {
  .frontpage_articles {
    display: flex;
    flex-direction: column;
  }
  .category-container {
    flex-direction: column;
  }
  .choosen-jacket-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  .checkout-grid {
    display: flex;
    flex-direction: column;
  }
  .price-information {
    text-align: center;
  }
  .confirm-purchasebtn {
    display: flex;
    flex-direction: column;
  }
  .Purchase-details-grid {
    display: flex;
    flex-direction: column;
  }

  .card-form {
    display: flex;
    flex-direction: column;
  }
  .card-form input,
  .card-information input {
    width: 100%;
    padding: 8px;
  }

  .contact-grid {
    display: flex;
    flex-direction: column;
  }

  .Contact-section input {
    width: 100%;
    padding: 10px;
  }
  .feedback {
    display: flex;
    flex-direction: column;
  }
  .About-page-grid {
    display: flex;
    flex-direction: column;
  }
  .About-page-grid img {
    width: 100%;
  }
  h3 {
    text-align: center;
  }

  header {
    flex-direction: column;
    display: flex;
  }

  .hamburger-menu label {
    display: block;
  }

  .nav-toggle-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav {
    display: flex;
    flex-direction: column;
  }

  .nav label {
    font-size: 20px;
  }

  .nav-toggle-container a {
    color: black;
    text-decoration: none;
    display: block;
    border-radius: 0px;
    border-bottom: 1px solid #aaa;
  }
  .nav-toggle-container li:last-child a {
    border-bottom: 0px;
  }
  .nav-toggle-container a:hover {
    text-decoration: underline;
    background-color: black;
    color: white;
  }

  .hamburger-menu {
    margin-right: auto;
  }

  label {
    display: block;
  }
  .nav label {
    margin-right: auto;
  }
  .nav-toggle-container {
    display: none;
  }

  .hamburger-menu:checked ~ .nav-toggle-container {
    display: block;
  }
  .mobile-display-logo {
    width: 80%;
  }
  .logo-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .article img {
    width: 100%;
  }

  .article {
    padding: 10px;
  }
}
