@font-face {
  font-family: "Arimo";
  src: url("https://fonts.googleapis.com/css2?family=Arimo&display=swap");
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

header {
  background-color: #dddddd;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}
footer {
  background-color: #728ea6;
  display: flex;
  padding: 30px;
}

nav {
  display: none;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

.nav {
  text-align: center;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  grid-gap: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.nav ul {
  margin-top: auto;
  margin-bottom: auto;
}

.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  background-color: #d9593d;
  padding: 10px 20px;
  border-radius: 8px;
  color: white;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
}

.contactusnav {
  background-color: #030100;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
}

footer > div {
  margin-left: auto;
}

.frontpage_articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1000px;
  margin: 30px auto;
  grid-gap: 40px;
  flex-direction: column;
}

.frontpage_articles {
  flex: 1;
}

@media (max-width: 700px) {
  .frontpage_articles {
    display: flex;
  }

  header {
    flex-direction: column;
  }

  nav {
    display: none;
  }

  .hamburger-menu label {
    display: block;
  }

  .nav {
    margin-left: auto;
    margin-right: 10px;
    padding: 10px;
  }

  .nav label {
    font-size: 20px;
  }

  .searchbar input {
    width: 100%;
    margin-top: auto;
  }
}

/*hamburger meny*/

#toggle,
label {
  display: none;
}

@media only screen and (max-width: 768px) {
  .hamburger-menu {
    flex-direction: column;
  }

  label {
    display: block;
  }
}
