@font-face {
  font-family: "Arimo";
  src: url("https://fonts.googleapis.com/css2?family=Arimo&display=swap");
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

header {
  background-color: #dddddd;
  display: flex;
  flex-direction: row;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}
footer {
  background-color: #728ea6;
  display: flex;
  padding: 30px;
}

.nav {
  text-align: center;
  word-spacing: 3em;
}
.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  background-color: #d9593d;
  padding: 10px 30px;
  border-radius: 8px;
  color: white;
  text-decoration: none;
  word-spacing: 10px;
}
.nav a:hover {
  text-decoration: underline;
}

.contactusnav {
  background-color: #030100;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
}

footer > div {
  margin-left: auto;
}

.searchhomepage {
  border-radius: 30px;
}
